html {
    height: 100%
}
body{
    font-family: 'Arial';
     height: 100%;
    margin: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4ebef+29,cbdae0+61,b9ccd5+100 */
/*background: #e4ebef; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background-image: url(../images/fondoprincipal.jpg);

}

#contenedor {
    line-height: 100px;
    text-align: center;
    width: 350px;
    height: 250px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image:url('../images/dni.png');
    background-repeat: no-repeat;
}

#nombre{
    position: absolute;
    top: 106px;
    right: 31px;
    width: 136px;
    border: none;
    background-color: transparent;
    outline: none;
    z-index: 10;
}

#password{
    position: absolute;
    top: 143px;
    right: 31px;
    width: 136px;
    border: none;
    background-color: transparent;
    outline: none;
    z-index: 10;
}

#enviar{
        background-image: url('../images/enviar-02.png');
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 31px;
    height: 26px;
    position: absolute;
    top: 172px;
    right: 30px;
    cursor: pointer;
    outline: none;
}

#footer{
        background-color: #687887;
    width: 100%;
    height: 30px;
    position: fixed;
    left:0px;
    bottom: 0px;
    padding-bottom: 10px;
}

#footer p{
    text-align: center;
    color: white;
    z-index: 10;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
     content: "";
    display: inline-block;
    width: 13px;
    height: 17px;
    margin: 0 .5em 0 0;
    background: #343C44;
    vertical-align: bottom;
    position: absolute;
    bottom: 59px;
    left: 183px;
    border-radius: 10px;
    cursor: pointer;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

#tex-recordarme{
        position: absolute;
    top: 120px;
    left: 199px;
    color: #F9B03F;
    font-size: 15px;
}

img{
    position: absolute;
    left: 30%;
}